.app-main-container {
    display: flex;
    justify-content: space-between;
    margin: 8px auto 0px;
    padding: 0px 32px;
    width: 1280px;
}

.main-left {
    margin-top: 32px;
    width: 296px;
}

.main-right {
    width: 896px;
    height: 100px;
    background-color: #eee;
}

.img-border {
    border: 2px solid #eee;
    border-radius: 50%;
    width: 100%;
    height: 296px;
    overflow: hidden;
}

.img-border img {
    width: 100%;
}

.profile-names-container {
    padding: 16px 0px;
}

.profile-user-name {
    font-size: 24px;
    font-weight: 700;
}

.profile-user-username {
    font-size: 20px;    
    font-weight: 300;
    color: #555;
}

.edit-profile-buttons {
    margin-bottom: 16px;
}

.follow-container {
    margin-bottom: 16px;
}

.follow-link {
    color: #888;
    text-decoration: none;
}

.follow-link,
.follow-font-b {
    font-weight: 300;
}

.follow-font-b {
    font-weight: 500;
    color: #333;
}

.follow-container a:hover,
.follow-container a:hover * {
    color: #0969da;
}

.company-and-address-items {
    position: relative;
    padding: 4px 0px 0px 24px;
}

.company-and-address-items i {
    position: absolute;
    bottom: 0;
    left: 0;
}

.company-items-name {
    font-weight: 500;
    cursor: pointer;
}

.company-items-name:hover {
    text-decoration: underline;
}

.profile-etc-container {
    margin-top: 16px;
    border-top: 1px solid #dbdbdb;
    padding-top: 16px;
}

.profile-etc-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}

.achievements-items {
    display: flex;
    flex-wrap: wrap;
}

.achievements-img {
    border: 2px solid white;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.achievements-img img {
    width: 100%;
}